ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/terrain/
ros2_ws/*.bin
ros2_ws/*.parm
ros2_ws/*.tlog
ros2_ws/*.tlog.raw
ros2_ws/*.deb
camera_feed/
ros2_ws/detection
.vscode/
.DS_Store


# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
ros2_ws/*.tlog.raw

ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/terrain/
ros2_ws/*.bin
ros2_ws/*.parm
ros2_ws/*.tlog
ros2_ws/*.tlog.raw
ros2_ws/*.deb
camera_feed/
ros2_ws/detection
.vscode/
.DS_Store


# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
ros2_ws/*.tlog.raw

ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/terrain/
ros2_ws/*.bin
ros2_ws/*.parm
ros2_ws/*.tlog
ros2_ws/*.tlog.raw