ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/terrain/
ros2_ws/*.bin
ros2_ws/*.parm
ros2_ws/*.tlog
ros2_ws/*.tlog.raw
ros2_ws/*.deb
camera_feed/
ros2_ws/detection
.vscode/
.DS_Store

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
ros2_ws/*.tlog.raw

ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/terrain/
ros2_ws/*.bin
ros2_ws/*.parm
ros2_ws/*.tlog
ros2_ws/*.tlog.raw
ros2_ws/*.deb
camera_feed/
ros2_ws/detection
ros2_ws/detection/detection/detection_results_steroids
.vscode/
.DS_Store

# Documentations

ros2_ws/src/video_cam/video_cam/documentations
ros2_ws/src/detection/detection_results_sahi
Docs
ros2_ws/src/video_cam/mapping_photos
ros2_ws/src/video_cam/Documentation

# ML / YOLO model weights
*.pt
*.onnx
*.engine
*.trt

.DS_Store

GUIDE.md

